 <!-- About Section -->
 <section class="page-section" id="about">
                    
    <!-- Decorative Line -->
    <div class="bg-line-1 opacity-025">
        <img src="/assets/images/demo-corporate/decoration-2.svg" alt="" class="" data-wow-delay="0.4s" />
    </div>
    <!-- End Decorative Line -->  
    
    <div class="container position-relative">
    
        <div class="row mb-70 mb-sm-50">                            
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center">
                
                <h2 class="section-title mb-40 mb-xs-30">High-rated Online Marketing Agency Based in New York</h2>
                
                <p class="section-descr mb-0">
                    Marketing is the activity, set of institutions, and processes for creating, communicating, delivering, and exchanging offerings that have value for customers partners, and society at large. However, the definition of marketing has evolved over the years.
                </p>
                
            </div>                            
        </div>
        
        <!-- Testimonials Grid -->
        <div class="row mt-n50 mb-70 mb-sm-50">
            
            <!-- Testimonials Item -->
            <div class="col-md-4 mt-50" data-wow-delay="0s">
                <div class="text-center px-lg-4">
                    
                    <div class="testimonials-5-stars">
                        <i class="icon-star-rate"></i>
                        <i class="icon-star-rate"></i>
                        <i class="icon-star-rate"></i>
                        <i class="icon-star-rate"></i>
                        <i class="icon-star-rate-a"></i>
                    </div>
                    
                    <div class="testimonials-5-text">
                        “Really impresseda with the service and the results!”
                    </div>
                    
                    <div class="testimonials-5-caption">
                        Rated 4.5 on Trustpilot
                    </div>
                    
                </div>
            </div>
            <!-- End Testimonials Item -->
            
            <!-- Testimonials Item -->
            <div class="col-md-4 mt-50" data-wow-delay="0.15s">
                <div class="text-center px-lg-4">
                    
                    <div class="testimonials-5-stars">
                        <i class="icon-star-rate"></i>
                        <i class="icon-star-rate"></i>
                        <i class="icon-star-rate"></i>
                        <i class="icon-star-rate"></i>
                        <i class="icon-star-rate-a"></i>
                    </div>
                    
                    <div class="testimonials-5-text">
                        “Excellent service for targeted lead generation.”
                    </div>
                    
                    <div class="testimonials-5-caption">
                        Rated 4.5 on Trustpilot
                    </div>
                    
                </div>
            </div>
            <!-- End Testimonials Item -->
            
            <!-- Testimonials Item -->
            <div class="col-md-4 mt-50" data-wow-delay="0.3s">
                <div class="text-center px-lg-4">
                    
                    <div class="testimonials-5-stars">
                        <i class="icon-star-rate"></i>
                        <i class="icon-star-rate"></i>
                        <i class="icon-star-rate"></i>
                        <i class="icon-star-rate"></i>
                        <i class="icon-star-rate-a"></i>
                    </div>
                    
                    <div class="testimonials-5-text">
                        “I have super enjoyed working with Resonance.”
                    </div>
                    
                    <div class="testimonials-5-caption">
                        Rated 4.5 on Trustpilot
                    </div>
                    
                </div>
            </div>
            <!-- End Testimonials Item -->                       
            
        </div>
        <!-- End Testimonials Grid -->
        
        <div class="local-scroll text-center">
            <a routerLink="/services" routerLinkActive="active"
            class="btn btn-mod btn-w btn-with-icon btn-circle">
            <span class="btn-icon color-3"><i class="mi-favorite"></i></span> <span data-btn-animate="y">View Our Services <i class="mi-arrow-right"></i></span></a>
        </div>                                                
    
    </div>
    
</section>
<!-- End About Section -->
