   
                <!-- Contact Section -->
                <section class="page-section" id="contact">
                    
                    <!-- Decorative Line -->
                    <div class="bg-line-3 opacity-025 mb-n90 mb-lg-n70 mb-md-n60 mb-sm-n40">
                        <img src="/assets/images/demo-corporate/decoration-4.svg" alt="" />
                    </div>
                    <!-- End Decorative Line -->
                    
                    <div class="container position-relative"> 
                                      
                        <div class="row mb-80 mb-sm-60">                            
                            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center">
                                
                                <h2 class="section-title mb-40 mb-xs-30">Let’s have a conversation</h2>
                                
                                <p class="section-descr mb-0">
                                    We’re open to talking to good people. Just say hello, and we’ll start productive cooperation. Start your own success story.
                                </p>
                                
                            </div>                            
                        </div>
                        
                        <div class="row">
                            
                            <!-- Left Column -->
                            <div class="col-lg-5 mb-md-50 mb-sm-30 d-flex align-items-strech">                                
                                <div class="bg-color-primary-1 bg-color-alpha-90 bg-image bg-scroll w-100 round overflow-hidden px-4 px-sm-5 py-5" 
                                style="background-image: url(assets/images/demo-corporate/section-bg-4.jpg)"> 
                                                           
                                    <!-- Address -->
                                    <div class="contact-item mb-40 mb-sm-20">
                                        <div class="ci-icon">
                                            <i class="mi-location"></i>
                                        </div>
                                        <h4 class="ci-title">
                                            Address
                                        </h4>
                                        <div class="ci-text large">
                                            Envato Pty Ltd, PO Box 16122 Collins Street, West Victoria.
                                        </div>
                                        <div class="ci-link">
                                            <a href="https://goo.gl/maps/7Vw1PBhxx5BaXStr8" rel="nofollow noopener" target="_blank">See Map</a>
                                        </div>
                                    </div>
                                    <!-- End Address -->
                                    
                                    <hr class="mt-0 mb-40 mb-sm-20 opacity-02"/>
                                    
                                    <!-- Email -->                                    
                                    <div class="contact-item mb-40 mb-sm-20">
                                        <div class="ci-icon">
                                            <i class="mi-email"></i>
                                        </div>
                                        <h4 class="ci-title">
                                            Email
                                        </h4>
                                        <div class="ci-text large">
                                            support@animarum.se
                                        </div>
                                        <div class="ci-link">
                                            <a href="mailto:support@animarum.se">Say Hello</a>
                                        </div>
                                    </div>                                    
                                    <!-- End Email -->
                                    
                                    <hr class="mt-0 mb-40 mb-sm-20 opacity-02"/>
                                    
                                    <!-- Phone -->
                                    <div class="contact-item">
                                        <div class="ci-icon">
                                            <i class="mi-mobile"></i>
                                        </div>
                                        <h4 class="ci-title">
                                            Phone
                                        </h4>
                                        <div class="ci-text large">
                                            +1 837 652 8800                                        
                                        </div>
                                        <div class="ci-link">
                                            <a href="tel:+61383767284">Call now</a>
                                        </div>
                                    </div>
                                    <!-- End Phone -->
                                
                                </div>            
                            </div>
                            <!-- End Left Column -->
                            
                            <!-- Right Column -->
                            <div class="col-lg-7 d-flex align-items-strech">                                
                                <div class="border-color-primary-1 round w-100 px-4 px-sm-5 py-5">
                                    
                                    <h3 class="section-title-small mt-n10 mb-40 mb-sm-30">We'd love to hear from you</h3>
                                    
                                    <!-- Contact Form -->
                                    <form class="form contact-form" id="contact_form">
                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                
                                                <!-- Name -->
                                                <div class="form-group">
                                                    <label for="name">Name</label>
                                                    <input type="text" name="name" id="name" class="input-lg round form-control" placeholder="Enter your name" pattern=".{3,100}" required aria-required="true">
                                                </div>
                                                <!-- End Name -->
                                                
                                            </div>
                                            
                                            <div class="col-md-6">
                                                
                                                <!-- Email -->
                                                <div class="form-group">
                                                    <label for="email">Email</label>
                                                    <input type="email" name="email" id="email" class="input-lg round form-control" placeholder="Enter your email" pattern=".{5,100}" required aria-required="true">
                                                </div>
                                                <!-- End Email -->
                                                
                                            </div>
                                        </div>
                                        
                                        <!-- Message -->
                                        <div class="form-group">
                                            <label for="message">Message</label>                                            
                                            <textarea name="message" id="message" class="input-lg round form-control" style="height: 132px;" placeholder="Enter your message"></textarea>
                                        </div>
                                        
                                        <div class="row">
                                            
                                            <div class="col-md-6 col-xl-7 d-flex align-items-center">
                                                
                                                <!-- Inform Tip -->
                                                <div class="form-tip w-100 pt-3">
                                                    <i class="icon-info size-16"></i>
                                                    All the fields are required. By sending the form you agree to the <a href="#">Terms & Conditions</a> and <a href="#">Privacy Policy</a>.
                                                </div>
                                                <!-- End Inform Tip -->
                                                
                                            </div>
                                            
                                            <div class="col-md-6 col-xl-5 mt-sm-20">
                                                
                                                <!-- Send Button -->
                                                <div class="pt-3 text-md-end">
                                                    <button type="submit" class="submit_btn btn btn-mod btn-color btn-large btn-round btn-hover-anim" id="submit_btn" aria-controls="result">
                                                        <span>Send Message</span>
                                                    </button>
                                                </div>
                                                <!-- End Send Button -->
                                                                                                                                         
                                            </div>
                                            
                                        </div>
                                       
                                       <div id="result" role="region" aria-live="polite" aria-atomic="true"></div>
                                       
                                    </form>
                                    <!-- End Contact Form -->
                                    
                                </div>
                            </div>    
                            <!-- End Right Column -->
                            
                        </div>   
                    
                    </div>                    
                                      
                </section>
                <!-- End Contact Section -->
                

        <!-- Back to Top Link -->
        <div class="local-scroll position-relative z-index-1">
                <a routerLink="/home" routerLinkActive="active"
                class="btn btn-mod btn-w btn-with-icon btn-circle">
                <i class="mi-arrow-up size-24"></i>
                <span class="visually-hidden">Scroll to top</span>
            </a>
        </div>
        <!-- End Back to Top Link -->