<div class="main-nav-sub container">

    <div class="nav-logo-wrap position-static local-scroll">
      <a href="top" class="logo">
          <img src="assets/images/demo-corporate/logo-dark.svg" alt="Your Company Logo" width="106" height="36" />
      </a>
    </div>
    
    <div class="inner-nav desktop-nav">
      <ul class="clearlist scroll-nav local-scroll justify-content-end">  
        <li> <a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>

        <li class="desktop-nav-display">
          <div class="vr mt-2"></div>
        </li>
      
        <li><a href="tel:+18376528800"><i class="mi-mobile size-24 color-primary-1 align-center"></i>hi@animarum.se</a></li>                                                      
        <li>
          <a href="#" class="no-hover opacity-1 pe-1"><span class="mn-soc-link mn-soc-link-color" title="LinkedIn"><i class="fa-linkedin-in"></i></span> <span class="mobile-nav-display-i">LinkedIn</span></a>
        </li>
      </ul>                  
    </div>    
   </div>
<router-outlet></router-outlet>