<!-- Home Section -->
<section class="page-section" id="home">
    <div class="container position-relative d-flex align-items-center">
        
        <!-- Home Section Content -->
        <div class="home-content text-start mt-n40">
            <div class="row">
                <!-- Home Section Text -->
                <div class="col-lg-6 col-xl-5 offset-xl-1 d-flex align-items-center order-first order-lg-last mb-md-60">
                    <div class="w-100 text-center text-lg-start">
                        
                        <h1 class="hs-title-9 mb-40 mb-sm-20">
                            Global Marketing Consulting Agency
                        </h1>
                        
                        <p class="hs-descr mb-50 mb-sm-40" data-wow-delay="0.15s">
                            We’re a global marketing company delivering innovative solutions to our clients.
                        </p>
                    
                        <div class="wch-unset" data-wow-delay="0.3s" data-wow-offset="0">
                            
                            <div class="local-scroll mb-60 mb-sm-50">
                                <a routerLink="/contact" routerLinkActive="active"
                                    class="btn btn-mod btn-w btn-with-icon btn-circle"> 
                                    <span>Get a Consultation</span>
                                </a>
                            </div>
                            
                            <!-- Features List -->
                            <div class="mt-n10">
                                
                                <!-- Features List Item -->
                                <div class="d-flex justify-content-center justify-content-lg-start mt-10">
                                    <div class="features-list-icon">
                                        <i class="mi-check"></i>
                                    </div>
                                    <div class="features-list-text">
                                        No credit card required
                                    </div>
                                </div>
                                <!-- End Features List Item -->
                                
                                <!-- Features List Item -->
                                <div class="d-flex justify-content-center justify-content-lg-start mt-10">
                                    <div class="features-list-icon">
                                        <i class="mi-check"></i>
                                    </div>
                                    <div class="features-list-text">
                                        Free 30 minute consultation
                                    </div>
                                </div>
                                <!-- End Features List Item -->
                                
                                <!-- Features List Item -->
                                <div class="d-flex justify-content-center justify-content-lg-start mt-10">
                                    <div class="features-list-icon">
                                        <i class="mi-check"></i>
                                    </div>
                                    <div class="features-list-text">
                                        Free marketing report
                                    </div>
                                </div>
                                <!-- End Features List Item -->
                            
                            </div>
                            <!-- End Features List -->
                        
                        </div>
                        
                    </div>
                </div>
                <!-- End Home Section Text -->
                
                <!-- Images -->
                <div class="col-lg-6">
                    <div class="composition-8">
                        
                        <!-- Decorative Dots -->
                        <div class="composition-8-decoration-1 mt-n90 mt-md-n60" data-wow-duration="1.3s">
                            <img src="assets/images/demo-corporate/decoration-1.svg" alt="" />
                        </div>
                        <!-- End Decorative Dots -->
                        
                        <!-- Main Image -->
                        <div class="composition-8-image bg-white">
                            <img src="assets/images/demo-corporate/hs-image-2.jpg" alt="Image Description" class="" data-wow-duration="1.3s" />
                        </div>
                        <!-- End Main Image -->
                        
                        <!-- Overlay Buttons -->
                        <div class="composition-8-decoration-2 local-scroll" data-wow-duration="1.3s" data-wow-offset="0">
                            <div class="mt-10">
                                <a href="#services" class="btn btn-mod btn-w btn-with-icon btn-circle">
                                    <span class="btn-icon color-3"><i class="mi-user"></i></span>
                                    <span data-btn-animate="y">Marketing Consulting</span>
                                </a>
                            </div>
                            <div class="mt-10">
                                <a href="#services" class="btn btn-mod btn-w btn-with-icon btn-circle">
                                    <span class="btn-icon color-2"><i class="mi-search"></i></span>
                                    <span data-btn-animate="y">Search Engine Optimization</span>
                                </a>
                            </div>
                            <div class="mt-10">
                                <a href="#services" class="btn btn-mod btn-w btn-with-icon btn-circle">
                                    <span class="btn-icon color-4"><i class="mi-message"></i></span>
                                    <span data-btn-animate="y">Social Media Marketing</span>
                                </a>
                            </div>
                        </div>
                        <!-- End Overlay Buttons --> 
                        
                    </div> 
                </div>
                <!-- End Images -->
                
            </div>                            
        </div>
        <!-- End Home Section Content -->
        
    </div>
</section>
<!-- End Home Section -->
